.header {
  width: 100%;
  height: 90px;
  background-color: rgba(53, 56, 56, 0.589);
}

.nav-links {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 26px;
}

.logo-header {
  width: 60px;
  height: auto;
  border-radius: 40px;
}

.logo-header:hover{
  transform: scale(1.15);
}
